/* _content/CompanyApp.Component.LiveStock/Component1.razor.rz.scp.css */
.my-component[b-cy2zk36j1m] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
